doctype html
mixin listItem(filename)
    - const filenameCurated = filename.slice(filename.indexOf('-')+1);
    li
      p
        include components/fileIcon.pug
        | #{"  " + filenameCurated}
      .dropdown
        button(onclick="showDropdownActions(this)")
          include components/ellipsis.pug
        #group-actions
          a(href="#")
            button(onclick=`deleteFile("${filename}")`)
              include components/trashIcon.pug
              p Excluir
          a(href="files/" + filename, download=`"${filename}"`)
            button
              include components/downloadIcon.pug
              p Baixar
          a(href="files/" + filename, target="_blank")
            button
              include components/openIcon.pug
              p Abrir
html
  head
    title= 'FHE - File Host Example'
    meta(charset="utf-8")
    meta(name="author" content="Deivisson Godoy")
    meta(name="theme-color" content="#3c3c3c")
    meta(name="description" content="A simple example of a file host system")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    style
      include styles/style.css
    - if(scripts)
      each script in scripts
        script(type='text/javascript', src= script)
  body
    .app
      .header
        h1 File Host Example (without Users System)
        form(enctype="multipart/form-data", action="/", method="POST")
          input(type="file", name="files", id="file", multiple=true)
          label(for="file")
            include components/uploadIcon
            p upload
      ul
        each file in files
          +listItem(file)
      #loading-ellipsis-root
    
  script
    include scripts/index.js
